doctype html
html
    head
    body
        h1 Searching Details
        form(action='/searching', method='POST')
            | molecule/company/brand :
            input(type='text', name='search')
            br
            br
            input(type='submit')