doctype html

html

    include login-signup/head
    title HomePage

    body

        div

            include n_partial/header

            //include ../body

            include n_partial/footer

            //include ./tabs