doctype html

html

    body
        h4
        table
            tr
                h2 Total result
                ol
                    each val in data
                        li
                           a(href="/go_to_dosage?molecule=" + val.molecule_name) #{val.molecule_name}