html
    head
        title Profile
        script(type='text/javascript' src='./js/image_test.js')
    body
        p hello #{number}
        a(href='logout') logout

        form(name='uploadForm', action="/uploadimage", method="post", enctype="multipart/form-data")
            input(type="file", name="myimage" id='file')
            input(type="submit", name="submit", value="Upload")


        a(href='/verifypassword') Edit Name And Profile
        br
        a(href='/updatepassword') Edit Password
        br
        a(href='/verifydetailspassword') Edit Details
        br
        a(href='/addresspassword') Edit Address
        br
        a(href='/confidentialpassword') Edit Confidential
        br
        a(href='/emergencypassword') Edit emergency




//make complete profile like app
