doctype html
html
    head
    body
        h1 Verify Password
        form(action='/contactinfo', method='POST')
            |  Name :
            input(type='text', name='name')
            br
            | Email :
            input(type='text', name='email')
            br
            | Number :
            input(type='text', name='number')
            br
            br
            input(type='submit')