doctype html
html
    head
    body
        h1 Verify Password
        form(action='/doctorlogedin', method='POST')
            | Number :
            input(type='text', name='number')
            br
            | Password :
            input(type='text', name='password')
            br
            br
            input(type='submit')