div.row
    div.col.s12.m12.l9.offset-l3
        img#drug(src='/images/drugsData.jpg', style='position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-1;')
        div.container#diseasedata
            .row
                .col.s12
                    form(name='disease_form', method='POST', onsubmit='return validateForm();', action='')
                        center
                            h2(style='font-weight:600;') Enter Disease Data
                        div.col.s12.m6.l6
                            span Disease Name
                            span.red-text &nbsp*
                            input.validate(type='text', id='disease_name', value='', style='color:black;font-size: 18px;font-weight: 400;')
                        div.col.s12.m6.l6
                            span Symptoms
                            span.red-text &nbsp*
                            input.validate(type='text', id='symptoms', value='', style='color:black;font-size: 18px;font-weight: 400;')
                        div.col.s12.m6.l6
                            span Risk Factors
                            span.red-text &nbsp*
                            input.validate(type='text', id='risk_factors', value='', style='color:black;font-size: 18px;font-weight: 400;')
                        div.col.s12.m6.l6
                            span Causes
                            span.red-text &nbsp*
                            input.validate(type='text', id='causes', value='', style='color:black;font-size: 18px;font-weight: 400;')
                            //input.button(type='submit')
                        div.col.s12.m6.l6
                            span Diagnosis
                            span.red-text &nbsp*
                            input.validate(type='text', id='diagnosis', value='', style='color:black;font-size: 18px;font-weight: 400;')
                            //input.button(type='submit')
                        div.col.s12.m6.l6
                            span Treatment
                            span.red-text &nbsp*
                            input.validate(type='text', id='treatment', value='', style='color:black;font-size: 18px;font-weight: 400;')
                            //input.button(type='submit')
                        div.col.s12.m6.l6
                            span Outlook
                            span.red-text &nbsp*
                            input.validate(type='text', id='outlook', value='', style='color:black;font-size: 18px;font-weight: 400;')
                            //input.button(type='submit')
                        div.col.s12.m6.l6
                            span Prevention
                            span.red-text &nbsp*
                            input.validate(type='text', id='prevention', value='', style='color:black;font-size: 18px;font-weight: 400;')
                            //input.button(type='submit')
                        div.row
                            div.col.s6.l4.m4
                                input.button(type='reset')
                            div.col.s6.l4.m4.offset-l4
                                input.button(type='submit')
