div.row
    div.col.s12.m12.l9.offset-l3
        img#drug(src='/images/drugsData.jpg', style='position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-1;')
        div.container#drugdata
            .row
                center
                    h2(style='font-weight:600;') Enter Drug Data

                .col.s12
                    form(name='drug_form1', method='get', onsubmit='return validateForm()', action='#drug_form2')
                        div.col.s12.m6.l6
                            span Brand Name
                            span.red-text &nbsp*
                            input(type='text', id='brand_name', value='', style='color:black;font-size: 18px;font-weight: 400;' required)
                        div.col.s12.m6.l6
                            span Company Name
                            span.red-text &nbsp*
                            input(type='text', id='company_name', value='', style='color:black;font-size: 18px;font-weight: 400;' required)
                        div.col.s12.m6.l6
                            span Category
                            span.red-text &nbsp*
                            input(type='text', id='categories', value='', style='color:black;font-size: 18px;font-weight: 400;' required)
                        div.col.s12.m6.l6
                            span Strength
                            span.red-text &nbsp*
                                input(list='str')
                                datalist#str
                                    option mg
                                    option ml
                                    input(type='text', id='strength', value='', style='color:black;font-size: 18px;font-weight: 400;' required)
                            //input.button(type='submit')
                        div.col.s12.m6.l6
                            span Potent Substances
                            span.red-text &nbsp*
                            input(type='text', id='potent_substances', value='', style='color:black;font-size: 18px;font-weight: 400;' required)
                            //input.button(type='submit')
                        div.col.s12.m6.l6
                            span Dosage Form
                            span.red-text &nbsp*
                            input(list='dosages')
                            datalist#dosages
                                option Tablet
                                option Capsule
                                option Solution
                                option Gels
                                option Pill
                                option Powder
                                option Talc
                                option Paste
                                option Drops
                                option Ointment
                                option Inhaler
                                option Aerosol
                                option Injection
                                option Cream
                                option Ear Drops
                                option Patch
                                option Dermal Patch
                                option Lotion
                                option Balm
                                option Skin Patch
                                option Syrup
                                option Infusion
                                option Vial
                                option Suppository
                                option Gargle
                                option Kit
                                option Shampoo
                                option Mouth wash
                                option Soft-gel
                                input(type='text', id='dosage_form', value='', style='color:black;font-size: 18px;font-weight: 400;' required)

                            //input.button(type='submit')
                        div.col.s12.m6.l6
                            span Packaging
                            span.red-text &nbsp*
                            input(type='text', id='packaging', value='', style='color:black;font-size: 18px;font-weight: 400;' required)

                        div.col.s12.m6.l6
                            span Price
                            span.red-text &nbsp*
                            input(type='text', id='price', value='₹' style='color:black;font-size: 18px;font-weight: 400;' required)

                        div.row
                            div.col.s6.l4.m4
                                input.button#reset_button(type='reset')
                            div.col.s12.l4.m4
                                input.button#enter_more_data(type='button' value='Enter more data')
                            div.col.s6.l4.m4
                                input.button#drugs1(type='submit')

                            //a#enter_more_data.btn.right(href='#drug_form2') Enter more data...

                    form#drug_form2(method='get', onsubmit='return validateForm()')
                        div.col.s12.m6.l6
                            span Prescription
                                    input(list='pres')
                                    datalist#pres
                                        option Needed
                                        option Not Needed
                                        input.validate(type='text', id='prescription', value='', style='color:black;font-size: 18px;font-weight: 400;')
                        div.col.s12.m6.l6
                            span Dose Taken
                            input.validate(type='text', id='dose_taken', value='', style='color:black;font-size: 18px;font-weight: 400;')
                        div.col.s12.m6.l6
                            span Dose Timings
                            input.validate(type='text', id='dose_timing', value='', style='color:black;font-size: 18px;font-weight: 400;')
                            //input.button(type='submit')
                        div.col.s12.m6.l6
                            span Type
                                input(list='types')
                                datalist#types
                                    option Branded
                                    option Generic
                                    input.validate(type='text', id='type', value='', style='color:black;font-size: 18px;font-weight: 400;')

                        div.col.s12.m6.l6
                            span Primarily Used For
                            input.validate(type='text', id='primarily_used_for', value='', style='color:black;font-size: 18px;font-weight: 400;')

                        div.col.s12.m6.l6
                            span Warnings
                            input.validate(type='text', id='warnings', value='', style='color:black;font-size: 18px;font-weight: 400;')

                        div.row
                            div.col.s6.l4.m4
                                input.button(type='reset')
                            div.col.s6.l4.m4.offset-l4
                                input.button#drugs2(type='submit')
