img#drug(src='/images/moleculeData.jpg', style='position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-1;')
div.row
    div.col.s12.m12.l9.offset-l3

        div.container#moleculeData
            .row
                .col.s12
                    form(name='next', method='POST', onsubmit='return validateForm();', action='./health_care_provider/r_partial/molecule_data')
                        center
                            h2(style='font-weight:600;') Enter Molecule Data
                        div.col.s12.m6.l6
                            span Molecule Name
                            span.red-text &nbsp*
                            input.validate#molecule_name(type='text', name='t1', value='', style='color:black;font-size: 18px;font-weight: 400;')
                        div.col.s12.m6.l6
                            span Drug Category
                            span.red-text &nbsp*
                            input.validate#drug_category(type='text', name='t2', value='', style='color:black;font-size: 18px;font-weight: 400;')
                        div.col.s12.m12.l12
                            span Pharmacokinetics
                            span.red-text &nbsp*
                            br
                            div.col.s12.m6.l6
                                span.flow-text Absorption
                                    input.validate#absorption(type='text', name='t4', value='', style='color:black;font-size: 18px;font-weight: 400;')
                            div.col.s12.m6.l6
                                span.flow-text Distribution
                                    input.validate#distribution(type='text', name='t4', value='', style='color:black;font-size: 18px;font-weight: 400;')
                            div.col.s12.m6.l6
                                span.flow-text Metabolism
                                    input.validate#metabolism(type='text', name='t4', value='', style='color:black;font-size: 18px;font-weight: 400;')
                            div.col.s12.m6.l6
                                span.flow-text Excretion
                                    input.validate#excretion(type='text', name='t4', value='', style='color:black;font-size: 18px;font-weight: 400;')

                        div.col.s12.m12.l12
                            span Short Description
                            span.red-text &nbsp*
                            textarea.tobig.validate#short_description(type='text', name='t3', value='', style='color:black;font-size: 18px;font-weight: 400;')
                        div.col.s12.m6.l6
                            span Side Effects
                            span.red-text &nbsp*
                            input.validate#side_effect(type='text', name='t4', value='', style='color:black;font-size: 18px;font-weight: 400;')
                            //input.button(type='submit')
                        div.col.s12.m6.l6
                            span Special Precautions
                            span.red-text &nbsp*
                            input.validate#precaution(type='text', name='t4', value='', style='color:black;font-size: 18px;font-weight: 400;')
                            //input.button(type='submit')
                        div.col.s12.m6.l6
                            span Other Drug Interactions
                            input.validate#other_drug_interaction(type='text', name='t4', value='', style='color:black;font-size: 18px;font-weight: 400;')
                            //input.button(type='submit')
                        div.col.s12.m6.l6
                            span Other Interactions
                            br
                            span.flow-text
                                input.validate#other_interactions(type='text', name='t4', value='', style='color:black;font-size: 18px;font-weight: 400;')
                            //input.button(type='submit')
                        div.col.s12.m6.l6
                            span Taken (before/after) Food
                                input.validate#food_taken(type='text', name='t4', value='', style='color:black;font-size: 18px;font-weight: 400;')
                        div.col.s12.m12.l12
                            span Dosage
                            span.red-text &nbsp*
                            br
                            div.col.s12.m6.l6
                                span.flow-text Oral
                                    input.validate#oral(type='text', name='t4', value='', style='color:black;font-size: 18px;font-weight: 400;')
                            div.col.s12.m6.l6
                                span.flow-text Intravenous
                                    input.validate#intravenous(type='text', name='t4', value='', style='color:black;font-size: 18px;font-weight: 400;')
                                    //input.button(type='submit')

                        div.col.s12.m12.l12
                            span#contraindications List of Contraindications
                            br
                            div.col.s12.m6.l6

                                div.repeater
                                    div
                                        input.browser-default.repeat_subhead#subheading(list='contra',type='text', placeholder='Choose subheading' required)
                                        button.remove x
                                        textarea.tobig.text_subhead#subhead_text
                                        label(for='subheading', style='color:black;font-size: 15px;font-weight: 400;' required)
                                        datalist#contra
                                            option In Lactation
                                            option In Pregnancy
                                            option In Children
                                            option Storage
                                            option Lab Interference
                                            option In Geriatric/Old Person
                                            option Other Contraindications
                                button.repeat1 Add Subheading



                                //a(href='#!')#close
                                //    i.material-icons.right close
                                //input#list_input(list='contra')
                                //span.flow-text
                                //    datalist#contra
                                //        option In Pregnancy
                                //        option In Children
                                //        option Storage
                                //        option Lab Interference
                                //        option In Geriatric/Old Person
                                //        option Other Contraindications
                                //        input.validate#new_text(type='text', placeholder='Choose a Heading', style='color:black;font-size: 18px;font-weight: 400;')
                                //input.validate#new_info(type='text', placeholder='Enter information', style='color:black;font-size: 18px;font-weight: 400;')
                                //input.button(type='submit')


                        div.col.s12.m12.l12
                            span Source
                                input.validate#source(type='text', name='t4', placeholder='Source of Information', style='color:black;font-size: 18px;font-weight: 400;')
                        div.row
                            div.col.s6.l4.m4
                                input.reset(type='reset')
                            div.col.s6.l4.m4.offset-l4
                                input.button#molecule_data_form(type='submit')
