// PROFILE STEP 3 FOR PHARMACIST

div.collection#main_profile_pharmacist
    div.collection-item.dismissable
        div.row
            .col.s12.m12.l9.offset-l3
                span.flow-text DRx. XYZ#{name}
                br
                br
                span.flow-text Profile is not complete yet
    div.collection-item.dismissable
        div.row
            div.col.s12.m12.l9.offset-l3
                span.flow-text Profile Completeness
                br
                br
                div#test-slider
                p Complete Your Profile in 3 Easy steps

        div.row
            div.col.s12.m12.l10.offset-l2
                ul.tabs
                    li.tab.active.col.s4
                        a.blue-text.darken-2(href='#basic_details') Basic Details
                    li.tab.col.s4
                        a.blue-text.darken-2(href='#edu_special') Education & Specialization
                    li.tab.col.s4
                        a.blue-text.darken-2(href='#register_doc') Registration & Documents

    div.row#basic_details
        div.col.m12.l9.s12.offset-l3
            form(name='form_personal' method='POST' action='#')
                br
                h3.center Personal Details
                div.input-field.col.s12.m4.l4
                    p
                        | Title
                        input#title(type='text' value='DRx.' readonly)
                div.input-field.col.s12.m8.l8
                    p
                        | Name
                        input.readonly(type="text" value='#{name}' readonly)
                div.col.s12.m4.l4#gender
                    br
                    p Gender:
                        br
                        br
                        input.validate.with-gap(name="gender" type="radio" id="g1" )
                        label(for="g1") Male
                        input.with-gap.validate(name="gender" type="radio" id="g2")
                        label(for='g2') Female
                        input.validate.with-gap(name="gender" type="radio" id="g3")
                        label(for="g3") Other

                div.input-field.col.s12.m4.l4
                    p
                        | City
                        input.validate#cityName(type='text' required)
                div.input-field.col.s12.m4.l4
                    p
                        | Years of Experience
                        input.validate#yearsExperience(type='text' required)
                div.input-field.col.s12.m12.l12
                    p
                        | About You
                        textarea.validate.materialize-textarea#about_you
                div.row
                    div.col.s6.m4.l2.offset-l1.offset-m1
                        input.button(type='reset')

        div.collection-item
            div.col.s12.m12.l9.offset-l3
                div.row
                    div.input-field.col.s12.m8.l8.offset-l2.offset-m2
                        form(name='form_contact' method='GET' action='')
                            h3.center Contact Details
                            p
                                | Mobile Number
                                span#f1 Verified
                                    i.material-icons.teal-text.left done
                                input.validate#mobNo(type='text' required)
                            br
                            p
                                | Email ID
                                span.right#f2 Not Verified
                                    i.material-icons.teal-text.left close
                                input.validate#email(type='email' required)
                            br
                            br
                            div.row
                                div.col.s6.m4.l3.offset-l4.offset-m2
                                    input.button(type='reset')
                                div.col.s6.m4.l3
                                    input.button(type='submit' value='Submit' href='#edu_special')



    div#edu_special
        div.row
            div.col.s12.m12.l9.offset-l3
                form(name='form_personal' method='GET' action='#')
                    h3.center Education and Specialization
                    div.row
                        div.input-field.col.s12.m6.l3
                            input#qualification(type='text' required)
                            label(for='qualification') Qualification
                        div.input-field.col.s12.m6.l3
                            input#college(type='text' required)
                            label(for='college') College
                        div.input-field.col.s12.m6.l3
                            input#completion_year(type='text' required)
                            label(for='completion_year') Year of Completion
                        div.input-field.col.s12.m6.l3
                            input#specialization(type='text' required)
                            label(for='specialization') Specialization

                    div.row
                        div.col.s6.m4.l3.offset-l4.offset-m2
                            input.button(type='reset')
                        div.col.s6.m4.l3
                            input.button(type='submit' value='Submit' href='#register_doc')



    div#register_doc
        form(name='form_personal' method='GET' action='#')
            div.row
                div.col.s12.m12.l9.offset-l3
                    h3.center Registration Details
                    div.row
                        div.input-field.col.s12.m4.l4
                            input#council_reg_no(type='text' required)
                            label(for='council_reg_no') Council Registration Number
                        div.input-field.col.s12.m4.l4
                            input#council_name(type='text' required)
                            label(for='council_name') Council Name
                        div.input-field.col.s12.m4.l4
                            input#council_year(type='text' required)
                            label(for='council_year') Year
                form(action="#")
                    div.row
                        div.col.s12.m12.l9.offset-l3
                            h3.center Documents/Certificates
                            br
                            div.row
                                h5.flow-text Please Upload your Documents
                                div
                                    li Aadhar Card/Driving Licence/Voter ID
                                    br

                                    div.file-field.input-field
                                        div.btn.waves-effect.waves-light
                                            span Browse
                                            input(type="file" class="file_upload" onchange="readUrl(this);" required)
                                        div.file-path-wrapper
                                            input.file-path.validate(type="text")
                                    img#image_for_docs1(src="http://placehold.it/180" alt="your image")

                                    br
                                    br
                                    br
                                    br
                                    li Medical Council Certificates
                                    br
                                    div.file-field.input-field
                                        div.btn.waves-effect.waves-light
                                            span Browse
                                            input(type="file" class="file_upload" onchange="readUrl(this);" required)
                                        div.file-path-wrapper
                                            input.file-path.validate(type="text")
                                    img#image_for_docs2(src="http://placehold.it/180" alt="your image")


                    div.row
                        div.col.s12.m12.l8.offset-l4
                            div.row
                                div.col.s6.m4.l3.offset-l4.offset-m2
                                    input.button(type='reset')
                                div.col.s6.m4.l3
                                    input.button(type='submit' value='Submit' href='/health_care_provider?page=home')