extends layouts/main.pug

block content
    div#main
        //modal trigger
        a.waves-effect.waves-light.btn(href="#authPage") Login
        br
        br
        a.waves-effect.waves-light.btn(href="#signupPage") Sign Up

        div.row.container
            div.input-field
                input#mobNumber(type="text")
                label(for="mobNumber") Mobile Number

            div.input-field
                input#otp(type="text")
                label(for="otp") OTP

            div.input-field
                input#password(type="text")
                label(for="password") password

            a#sendOTPButton.btn.waves-light.waves-effect Get OTP
            | &nbsp;
            | &nbsp;
            a#signupButton.btn.waves-light.waves-effect Sign Up

        div#authPage.modal
            div.row this is a test